/* Estilos Generales */
body {
  background-color: #000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}

.start-button,
.controls-button,
button {
  padding: 5px 5px;
  background-color: #1385ff;
  color: #fff;
  border: none;
  font-family: "Arial", sans-serif;
  margin-bottom: 12px;
  font-size: 22px;
}

.start-button:hover,
.controls-button:hover,
button:hover {
  background-color: #0056b3;
}

.start-button a {
  color: #fff;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #82a8f300;
  padding: 20px;
}

/* Estilos para la tabla de estadísticas */
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-family: "Arial", sans-serif;
  font-size: 25px;
  color: #fff;
  margin-top: 5px;
}

/* Estilos para el tablero de juego */
.simon-board {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 20px;
  justify-items: center;
  margin-top: 15px;
  margin-bottom: 35px;
}

.simon-button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#green {
  background-color: #00ff00;
}

#red {
  background-color: #ff0000;
}

#blue {
  background-color: #0000ff;
}

#yellow {
  background-color: #ffff00;
}

/* Estilos para los modales */
.userModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.usermodal-content {
  background-color: #fefefe00;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #88888800;
  width: 50%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usermodal-content label {
  font-family: "Arial", sans-serif;
  font-size: 22px;
  display: block;
  margin-bottom: 15px;
  color: #ffffff;
}

.lossModal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lossModal-content {
  background-color: #1385ff00;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #1385ff00;
  width: 50%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
}

.controlsModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  
}

.controlsModal-content {
  background-color: #1385ff00;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #1385ff00;
  width: 100%;
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -11px;
  color: #fff;
}

.popup-content {
  font-size: 18px;
}

.usermodal-content label {
  font-size: 22px;
  margin-bottom: 15px;
}

.close {
  margin-right: -300px;
  color: #82a7f3;
}

input[type="text"] {
  padding: 5px;
  margin-bottom: 10px;
  width: 80%;
  border: 1px solid #82a7f3;
  background-color: transparent;
  text-align: center;
  color: white;
  font-size: 18px;
}

/* Estilos para la tabla del leaderboard */
.leaderboard-container {
  max-height: 390px;
  overflow-y: auto;
}

.leaderboard-container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #fff;
}

.leaderboard-container th,
.leaderboard-container td {
  padding: 8px;
  text-align: center;
  border: 1px solid #fff;
}

.leaderboard-container th {
  background-color: #1385ff;
}

.leaderboard-container tr:nth-child(even) {
  background-color: #82a8f3;
}

.leaderboard-container tr:nth-child(odd) {
  background-color: #0056b3;
}

@media screen and (max-width: 767px) {

  header img {
    max-width: 500px;
    max-height: 150px;
  }

  .simon-board {
    display: grid;
    grid-template-columns: repeat(2, 90px);
    margin-bottom: 35px;
  }

  .simon-button {
    width: 100px;
    height: 100px;
  }

  .controlsModal-content {
    max-width: 91%;
    font-size: 13px;
  }
}