/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #000;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #82a8f300;
  color: #fff;
  padding: 20px;
  font-size: 28px;
}

h1 {
  text-align: center;
  margin-top: -5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

label {
  margin-top: 25px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #cad2db;
}

input[type="submit"],
#return_button {
  padding: 5px 5px;
  background-color: #1385ff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  margin-top: 20px;
  font-size: 22px;
  border-radius: 5px;
}

input[type="submit"]:hover,
#return_button:hover {
  background-color: #0056b3;
}

#return_button a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  header img {
    max-width: 500px;
    max-height: 150px;
  }
}